class Rtmcreds:

    # get those parameters from http://www.rememberthemilk.com/services/api/keys.rtm
    # TODO: have these in a .conf file or similar

    def __init__(self):
        self.api_key = 'your API key'
        self.shared_secret = 'your shared secret'
        self.token = 'make this None and run the script for the first time.  A web browser will open.  Login to RTM and a token will be printed by the script.  Put that token here.'
        # TODO: make the token self-storing
